.featured-artwork-2-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 180px;
  gap: 50px;
  margin-top: 50px;
}
.featured-art-2-card {
  width: 300px;
  height: 550px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
}

.featured-image-1,
.featured-image-2,
.featured-image-3 {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
.featured-image-1 img{
  height: 270px;
  border-radius: 10px;
  background:#F4D7EE;
}
.featured-image-2 img {
  height: 380px;
  border-radius: 10px;
  background:#9CBAF2;
}
.featured-image-3 img{
   height: 300px;
  border-radius: 10px;
  background:#ABC161;
}

.featured-2-featured{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fbbf24;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;

}
.featured-timer-2{
  position: absolute;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;

}
.featured-heart-2-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}
.featured-info-2{
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;

}
.featured-user-2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;

}
.featured-info-2 h4{
  margin: 20px 30px;
  font-size: 20px;
  color: #555;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.featured-info .user-2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}
.featured-title-2{
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;

}
.featured-current-bid-2{
  font-size: 14px;
  color: #777;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;


}
.featured-bid-amount-2{
  font-size: 18px;
  font-weight: 700;
  color: #1B63FF;
  float: left;
  font-family: 'Poppins', sans-serif;
  margin-top: 2px;

}
.featured-activity-2{
  float: right;
  font-family: 'Poppins', sans-serif;
  color: #777;

}
.featured-place-bid-2{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(92.74deg, #1B63FF 0.47%, #21E7B7 100%);
  color: #fff;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  

}
.featured-place-bid-2:hover {
  opacity: 0.9;
}
